{% extends 'base.html' %}
{% load static %}

{% block main_content %}
{% include "includes/page_title.html" %}
<h3 class="mb-4">{{ object_list.count }} domains available</h3>
<div class="row">
{% for object in object_list  %}
    <div class="card-container  col-xs-12 col-sm-4 p-2">
         <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url "domain_page_views" pk=object.pk %}">{{ object.base_url }}</a></h5>
          </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}