{% extends 'base.html' %}
{% load static %}

{% block main_content %}
{% include "includes/page_title.html" %}
<h3 class="mb-4">Monthly average page views by domain</h3>
<div class="row">
{% for element in domain_monthly_average_views  %}
    <div class="card-container  col-xs-12 col-sm-4 p-2">
         <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ element.domain }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> (no robots / with robots)</h6>
            <p class="card-text">
                <h6>{{ element.no_robots }} / <small class="text-muted">{{ element.with_robots }}</small></h6>
            </p>
          </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}