{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% include "includes/page_title.html" %}

<div class="row d-flex justify-content-center flex-nowrap">
    <div class="pie-chart-container">
        <canvas id="pie-chart" width="800" height="450"></canvas>
    </div>
</div>

<script>
new Chart(document.getElementById("pie-chart"), {
  type: 'pie',
  data: {
    labels: {{ labels | safe }},
    datasets: [
        {
        data: {{ data }},
        backgroundColor: {{ colors | safe }},
        hoverOffset: 4
        }
    ]
  },
  options: {
      responsive: true,
  }
});
</script>
{% endblock %}